
/*
@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 120px;
    max-width: 120px;
  }
}*/
    .btnCustom {
        background-color: green;
        color: white;
        width: 20vw;
    }